{% extends 'themes/theme_visitor.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block main %}

    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="text-center my-3 display-5 ">Réinitialisation du mot de passe</h1>

    <div class="container my-3">
        <div class="row">
        <div class="col-md-6 mx-auto p-4 bg-white shadow">
        {{ form_start(requestForm) }}
            <div class="mb-3">
                <label for="reset_password_request_form_email">Email</label>
            {{ form_widget(requestForm.email, {'attr':{'class': 'form-control'}})}}
            </div>

            <div class="mb-3">
            <small class="lead">
               Un email sera envoyé à votre addresse pour réinitialisé le mot de passe.
            </small>
        </div>
<div class="mb-3"></div>
        <button class="btn btn-primary">Envoyer</button>
        </div>
    {{ form_end(requestForm) }}   
        </div>
     </div>
    </div>
   
{% endblock %}
