{% extends "themes/theme_visitor.html.twig" %}

{% block title %}
  En attente de la vérification du compte  
{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5 ">En attente de la vérification du compte</h1>


{% endblock %}