<h1>Hi!</h1>

<p>Veuillez cliquer sur le lien ci-dessous pour la réinitialisation du mot de passe</p>

<a href="{{ url('visitor.authentication.reset_password', {token: resetToken.token}) }}">{{  url('visitor.authentication.reset_password', {token: resetToken.token}) }}</a>

<p>This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Cheers!</p>
